.Task {
    border: 2px solid var(--mainColor-dark);
    border-radius: 10px;
    margin: 4px 0;

    background-color: var(--baseColor);
    padding: 4px;

    transition: background-color 0.2s ease;
}
.Task:hover {
    border-color: var(--mainColor);
}
.Task:active {
    background-color: var(--mainColor-light);
}

.Task .title {

}
