.ContactPage {
  padding-left: var(--menuBarSpacing);

  padding-left: var(--menuBarSpacing);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dataContainer h1 {
  text-align: center;
}

.ContactPage .dataContainer {
  min-width: 500px;
  width: 80%;
  padding: 20px;
}

.ContactPage textarea {
  height: 5em;
}

.success {color: var(--confirmColor);}


@media screen and (max-width: 600px) {
  .ContactPage .dataContainer {
    min-width: 0;
    width: 100%;
    height: 70%;
  }
}