.FormInput {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    
    margin: 5px 0px;
}
.FormInput .inputContainer {
    width: 100%;
    
    margin: 4px 0px;
}

.FormInput .inputContainer > label {
    min-width: 20%;
}

.FormInput .inputContainer > input {
    width: 100% !important;
}