.RoomPage {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    overflow-x: hidden;
}

.roomContent {
    position: relative;
    flex: 1;
    background-color: var(--mainColor-light);
}