.RoomSidePanel {
    position: absolute;

    height: 100%;
    width: 30%;
    right: -30%;

    background-color: var(--baseColor);

    box-sizing: border-box;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;

    transition: right 0.2s ease;
    border-left: 2px solid var(--mainColor);
}



.RoomSidePanel.open {
    right: 0;
}


.RoomSidePanel .header {
    border-bottom: 2px solid var(--mainColor-dark);
    padding: 10px;
}

.RoomSidePanel .content {
    flex: 1;

    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;

    gap: 10px;
    overflow-y: scroll;
}

.RoomSidePanel .componentContainer,
.RoomSidePanel .title {
    background-color: var(--baseColor-dark);
    border-radius: 20px;
    padding: 10px;    
}

.RoomSidePanel .title {
    padding: 20px;
    text-align: center;
}

.RoomSidePanel .actions {
    border-top: 2px solid var(--mainColor-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.RoomSidePanel .actions > button {
    flex: 1;
}

/* Actions */
.RoomSidePanel .actions {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}
.RoomSidePanel .actions button {
    display: flex;
    align-items: center;
    gap: 2px;
}



/* toggle button */

.RoomSidePanel .toggleButton {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);

    background-color: var(--baseColor);
    border: 2px solid var(--mainColor);
    border-right: 0px;
    border-radius: 20px 0px 0px 20px;

    transition: background-color 0.2s ease;
    z-index: 5;
}

.RoomSidePanel .toggleButton button {
    margin: 0;
    border-width: 0px 1px 0px 0px;
    width: 130%;
    border-radius: 20px;
}


@media screen and (max-width:600px) {
    .RoomSidePanel {
        width: 80%;
        right: -80%;
    }


    .RoomSidePanel .FormInput .inputContainer{
        flex-flow: column wrap;
        align-items: start;
    }

    .toggleButton {
        height: 50%;
    }
    .toggleButton button {
        height: 100%;
    }
}