/* Custom fonts */

/* Custom variables */
:root {
    --background1: ; /* Direct color or rgb values to use in rgba (opacity) */
    --background2: ;
    --background3: ;

    --mainColor1: ;
    --mainColor2: ;
    --mainColor3: ;
}