/* Custom fonts */

/* Custom variables */
:root {
    --backgroundColor1: #eeeeee;
    --backgroundColor2: #e0e0e0;
    --backgroundColor3: ;

    --mainColor1: #2070f0;
    --mainColorLight: #2090f0;
    --mainColorDark: #2050f0;

    --debug1: #f000f0;
    --debug2: #a000a0;
}