.Navigation {
    position: absolute;
    left: 0;
    border: 2px solid red;
    border-radius: 20px;

    transition: all 0.5s ease;
    overflow: hidden;
    display: flex;
}

.MenuControl {
    width: 80px;
}
.MenuText {
    transition: all 0.5s ease;
}

.MenuOpen {
    width: 120px;
}
.MenuClosed {
    width: 0px;
}

.MenuRow {
    border: 1px solid green;
    width: 100%;
    overflow: hidden;
}