.Navigation {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    border: 2px solid var(--mainColor1);
    border-radius: 20px;

    transition: all 0.5s ease;
    overflow: hidden;
    display: flex;

    background-color: var(--backgroundColor1);
    z-index: 10;
}
.hidden {visibility: hidden; opacity: 0;}

.MenuOpen {
    width: 120px;
}
.MenuClosed {
    width: 0px;
}



.MenuControl {
    min-width: 50px;
}
.MenuText {
    overflow: hidden;
    transition: all 0.5s ease;
}

.MenuRow {
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;

    align-items: center;
}

