.RoomWorkspace {
    width: 100vw;
    max-height: 100%;

    background-color: var(--mainColor-light);
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: start;

    padding: 20px var(--menuBarSpacing);

    display: flex;
}