.RoomWorkspace {
    min-height: 50%;
    width: 100%;

    background-color: var(--mainColor-light);
    position: absolute;

    display: flex;
    flex-flow: row wrap;

    padding: 20px var(--menuBarSpacing);
}