.Section {
    border: 2px solid var(--mainColor-dark);
    border-radius: 20px;
    margin: 20px;
    width: 400px;

    display: flex;
    flex-direction: column;

    background-color: var(--baseColor);

    padding: 10px;
}

.Section .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    text-overflow: ellipsis;
    height: 50px;
}
.Section .header .headerButtons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.headerButtons button {
    margin: 4px;
    padding: 2px;
    border: 2px solid transparent;
}
.headerButtons button:first-child:hover {
    border: 2px solid var(--confirmColor);
}
.headerButtons button:last-child:hover {
    border: 2px solid var(--errorColor);
}


.Section .content {
    background-color: var(--baseColor-dark);
    flex: 1;

    border-radius: 10px;
    padding: 4px;
    overflow-y: scroll;
}

.Section .contentWhenEmpty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}