.ProfilePage {
    padding-left: var(--menuBarSpacing);

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
}

.actionButtons .dataContainer {
  height: 70%;


}

.dataContainer .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
}

/* Profile picture */

.cardHeader .profilePictureContainer {
    position: relative;
    height: 80%;
}
.cardHeader .profilePictureContainer .editPicture {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease;
    color: transparent;
}

.cardHeader .profilePictureContainer .editPicture:hover {
    background-color: black;
    color: white;
}

/* Other fields */

.emailNotVerifiedWarning {
    background-color: var(--warningColor);
    border: 1px solid var(--mainColor-dark);
    border-radius: 10px;
    padding: 10px;
}

.loaderContainer {
    width: 50vw;
}

/* Action buttons */
.dataContainer .actionButtons {
    display: flex;
    flex-flow: column nowrap;
}
